.Landing1 {
    height: calc(100vh - 64px);
    width: 100vw;
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: hidden;
   
}

.Landing1::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    padding-top: 2px;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-image: url("./../assets/mainBG.webp");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.Landing1Col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3ch;
    margin-right: 5ch;
}

.rightColStyle {
    width: 85%;
    text-align: center;
    height: 90%;
    padding: 4ch;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
/* From https://css.glass */
background: rgba(243, 243, 243, 0.35);
border-radius: 16px;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.49);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
border: 1px solid rgba(243, 243, 243, 0.35);
}

.buttonsDiv {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    width: 100%;
}

.buttonPaperStyle {
    width: 90%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px !important;
    cursor: pointer;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.3) !important;
    transition: .3s;
    text-align: center;
}

.buttonPaperStyle:hover {
    transform: translate(-6px, -6px);
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.5) !important;
    opacity: .8;
}

.buttonPaperStyle.variant1 {
    background: rgb(33,147,176);
    background: linear-gradient(45deg, rgba(33,147,176,1) 0%, rgba(109,213,237,1) 100%);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.buttonPaperStyle.variant2 {
    background: rgb(0,180,219);
    background: linear-gradient(45deg, rgba(0,180,219,1) 0%, rgba(0,131,176,1) 100%);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.buttonsInnerDiv {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-top: 5vh;
}

.ImageStyle {
    width: 90%;
}

.iconStyle {
    margin-bottom: 1vh;
    font-size: 3ch;
}

.iconTextStyle {
    font-weight: 600;
    font-size: 3ch;
    color:rgb(247, 247, 247);
}