.main {
    height: 75vh;
    width: 100%; 
}

.Service {
    height: fit-content;
    width: 100%;
    padding-left: 20%;
    padding-bottom: 3%;
    background: rgb(68, 162, 230); 
    overflow-x: hidden;
    overflow-y: hidden;
}


.Service h1 {
    height: fit-content;
    color: rgb(255, 255, 255);
    margin-top: 7vh;
    margin-bottom: 5vh;
}


.Wave {
    height: 20vh;
    width: 100vw;
    background-image: url('../assets/wave.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Cards {
    padding-right: 20%;
    display: flex;
    justify-content: space-around;
}