.Landing2 {
    height: calc(100vh - 64px);
    width: 100vw;
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: hidden;
   
}

.Landing2::before {
    content: "";
    left: 0;
    right: 0;
    padding-top: 2px;
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./../assets/mainBG2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    filter: blur(2px);
    -webkit-filter: blur(2px);
}


.glass {
/* From https://css.glass */
    height: fit-content;
    color: white;
    margin-left: 2em;
    margin-top: 15%;
    padding-bottom: 1em;
    background: rgba(90, 90, 90, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(90, 90, 90, 0.3);
}

.glass h1 {
    margin-left: 3%;
}

.glass p {
    margin-left: 3%;
}

.buttonPaperStyle {
    width: 90%;
    max-width: 25ch;
    padding: 1ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px !important;
    cursor: pointer;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.3) !important;
    transition: .3s;
    text-align: center;
}

.buttonPaperStyle:hover {
    transform: translate(-6px, -6px);
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.5) !important;
    opacity: .8;
}

.buttonsInnerDiv {
    display: flex;
    width: 100%;
    height: fit-content;

    justify-content: left;
    margin-top: 4vh;
    margin-left: 2%;
}

.buttonPaperStyle.variant1 {
    background: linear-gradient(45deg, rgb(25, 118, 210) 0%, rgb(22, 164, 196) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.buttonPaperStyle.variant2 {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.iconTextStyle {
    font-weight: 600;
    font-size: 2.5ch;
    color:rgb(247, 247, 247);
}

.iconTextStyle2 {
    font-weight: 600;
    font-size: 2.5ch;
    color:rgb(255, 255, 255);
}