.Landing2 {
    height: calc(100vh - 64px);
    width: 100vw;
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: hidden;
   
}

.Landing2::before {
    content: "";
    left: 0;
    right: 0;
    padding-top: 2px;
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url("./../assets/graduate.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.glass {
/* From https://css.glass */
background: rgba(197, 197, 197, 0.42);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.5px);
-webkit-backdrop-filter: blur(4.5px);
border: 1px solid rgba(197, 197, 197, 0.3);
}

.buttonPaperStyle {
    width: 90%;
    max-width: 25ch;
    padding: 1ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px !important;
    cursor: pointer;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.3) !important;
    transition: .3s;
    text-align: center;
}

.buttonPaperStyle:hover {
    transform: translate(-6px, -6px);
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.5) !important;
    opacity: .8;
}

.buttonsInnerDiv {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    margin-top: 5vh;
}

.buttonPaperStyle.variant1 {
    background: rgb(33,147,176);
    background: linear-gradient(45deg, rgba(33,147,176,1) 0%, rgba(109,213,237,1) 100%);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.buttonPaperStyle.variant2 {
    background: rgb(0,180,219);
    background: linear-gradient(45deg, rgba(0,180,219,1) 0%, rgba(0,131,176,1) 100%);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.iconStyle {
    margin-bottom: 1vh;
    font-size: 2.5ch;
}

.iconTextStyle {
    font-weight: 600;
    font-size: 3ch;
    color:rgb(247, 247, 247);
}