.main {
    width: 100vw;
    height: fit-content;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main::before {
    content: "";
    left: 0;
    right: 0;
    top: -3px;
    z-index: 0;
    height: 105%;
    width: 100%;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./../assets/mainBG2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.registerGlass {
    /* From https://css.glass */
        height: fit-content;
        color: white;
        margin-left: 2em;
        margin-top: 15vh;
        margin-bottom: 15vh;
        padding: 1.5em;
        background: rgba(10, 10, 10, 0.7);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.5px);
        -webkit-backdrop-filter: blur(4.5px);
        border: 1px solid rgba(10, 10, 10, 0.7);
        min-width: 30vw;
        max-width: 50ch;
}

.formStyles {
    display: flex;
    flex-direction: column;
    
}

.itemTitleText {
    margin-top: 0.5ch;
    margin-bottom: 0.5ch;
    font-weight: 600;
    color: #64b5f6;
}

.formItemStyle {
    margin-bottom: 2ch !important;
}